<html lang="es">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/navegar.ejs') %>

            <div class="error-container">
                <h1 class="error-title">404</h1>
                <p class="error-message">¡Vaya! La página que buscas no existe.</p>
                <a href="/" class="go-home-button">Volver al inicio</a>
            </div>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>