<html lang="es">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/navegar.ejs') %>

            <div class="main-container">
                <div class="header-section">
                    <h1 class="title">¡Bienvenido a la plataforma!</h1>
                    <br>
                    <br>
                    <p class="welcome-message">Nos alegra que estés aquí. <br> <br> Comienza creando un usuario y prueba
                        nuestro administrador.</p>
                </div>

                <%- include ('./partials/footer.ejs') %>
    </body>

</html>